<!-- Footer -->
<footer id="footer">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-5">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="/" class="logo"><%- logoBinder(logo, logoText, meta.title) %></a>
                    </div>
                    <ul class="footer-nav">
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Quảng cáo</a></li>
                    </ul>
                    <div class="footer-copyright">
                        <span>Powered by <a href="https://github.com/namduongkh/mvhn" target="_blank"><strong>MVHN</strong></a></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-widget">
                            <h3 class="footer-title">Về chúng tôi</h3>
                            <ul class="footer-links">
                                <li><a href="/">Về chúng tôi</a></li>
                                <li><a href="/">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-widget">
                            <h3 class="footer-title">Danh mục</h3>
                            <ul class="footer-links">
                                <% categories.forEach(function (cate) { %>
                                    <li><a href="/categories/<%= cate.slug %>"><%= cate.name %></a></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Đăng ký nhận Email</h3>
                    <div class="footer-newsletter">
                        <form>
                            <input class="input" type="email" name="newsletter" placeholder="Enter your email">
                            <button class="newsletter-btn"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /Footer -->
<%- include('./footer_assets.html') %>