<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="<%= meta.description %>">
<meta name="author" content="<%= info.name %>">
<link rel="canonical" href="<%= canonical %>" />
<meta property="og:title" content="<%= meta.title %>" />
<meta property="og:description" content="<%= meta.description %>" />
<meta property="og:image" content="<%= meta.image %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= canonical %>" />
<meta property="og:site_name" content="<%= info.name %>" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="<%= meta.title %>" />
<meta name="twitter:description" content="<%= meta.description %>" />
<meta name="twitter:image" content="<%= meta.image %>" />
<meta itemprop="image" content="<%= meta.image %>" />
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="<%= meta.color %>">
<meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="<%= meta.color %>">
<title>
  <%= meta.title %>
</title>
<% getAssets(assets, template).css.map(function(cssUrl) { %>
<link rel="stylesheet" href="<%= cssUrl %>" />
<% }) %>
<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">
<script type="text/javascript">
  document.write('<base href="' + document.location.origin + '" />');
  var settings = <%- JSON.stringify(settings) %>;
  var user = <%- JSON.stringify(credentials) %>;
  var cookieKey = '<%= cookieKey %>';
  var cmsprefix = '<%= cmsprefix %>';
  var enableSocialLogin = <%= enableSocialLogin %> || false;
</script>
<base href="<%= settings.services.webUrl %>" />
