{
    "presets": [
        "es2015",
        "es2017",
        "stage-2"
    ],
    "plugins": [
        "transform-runtime",
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@root": "./",
                    "@plugins": "./app/plugins",
                    "@core": "./app/plugins/core"
                }
            }
        ]
    ]
}
