node_modules
public/libs
public/files
public/src
public/cms/src
.vscode
yarn-error.log
app/plugins/seo/views/sitemap.xml
app/config/development.conf.js
app/config/production.conf.js
app/db/storages
app/plugins/core/views/vuex/store_config.js