.portfolio-img {
  background-color: #2C3E50;
  .sub-img {
    opacity: 0;
  }
  .main-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.portfolio .portfolio-item .portfolio-item-caption {
  z-index: 100;
}

.portfolio-item {
  overflow: hidden;
  box-shadow: 0 0 5px 0 #ddd;
}