<div id="mod-product" ng-controller="PortalProductController as portal" ng-init="portal.getListProduct()">
    <div class="row">
        <div class="col-sm-12"><a class="btn btn-primary pull-right" href="/portal/product/createProduct">Tạo mới</a></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-striped table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Hình ảnh</th>
                    <th>Tên</th>
                    <th>Giá</th>
                    <th>Hành động</th>
                </tr>
                <tr ng-repeat="(key, product) in portal.productList">
                    <td>
                        <a href="/p/{[product.shortId]}" target="_blank" title="{[product.title]}">{[product.shortId]}</a>
                    </td>
                    <td><img class="img-thumbnail img-responsive" ng-src="/files/products/{[product._id]}/small/{[product.image]}" alt="{[product.title]}" style="max-width: 100px"></td>
                    <td>{[product.title]}</td>
                    <td>{[product.price | vndCurrency]}</td>
                    <td>
                        <a href="/portal/product/{[product.slug]}/edit" class="btn btn-sm btn-success">Sửa</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger" ng-click="portal.deleteProduct(product._id, key)">Xóa</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>