<% include "admin/html/admin-fm/client/template/menu.html" %>
<% include "admin/html/admin-banner/client/template/menu.html" %>
<% include "admin/html/admin-category/client/template/menu.html" %>
<% include "admin/html/admin-contact/client/template/menu.html" %>
<% include "admin/html/admin-page/client/template/menu.html" %>
<% include "admin/html/admin-post/client/template/menu.html" %>
<% include "admin/html/admin-setting/client/template/menu.html" %>
<% include "admin/html/admin-user/client/template/menu.html" %>
<% include "admin/html/admin-test/client/template/menu.html" %>
<% include "admin/html/admin-product/client/template/menu.html" %>
<% include "admin/html/admin-award/client/template/menu.html" %>
<% include "admin/html/admin-card/client/template/menu.html" %>
<% include "admin/html/admin-redeemhistory/client/template/menu.html" %>
