<div id="mod-goal-new">
  <!-- Portfolio Grid Section -->
  <section class="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">New Goal</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-sm-8 col-xs-12" style="margin: 0 auto;">
          <form class="form" v-on:submit.prevent="submit">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" v-validate="'required'" data-vv-validate-on="blur" name="name" v-model="goal.name"
                class="form-control">
              <span class="text-danger">{{ errors.first('name') }}</span>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="start_date">Start Date:</label>
                  <datepicker v-validate="'required'" data-vv-validate-on="blur" name="start_date"
                    v-model="goal.start_date" format="dd/MM/yyyy" input-class="form-control"></datepicker>
                  <span class="text-danger">{{ errors.first('start_date') }}</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="start_date">End Date:</label>
                  <datepicker v-validate="'required'" data-vv-validate-on="blur" name="end_date" v-model="goal.end_date"
                    format="dd/MM/yyyy" input-class="form-control"></datepicker>
                  <span class="text-danger">{{ errors.first('end_date') }}</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="day_of_weeks">Day of weeks:</label>
              <div class="row">
                <% for(let i = 1; i <= 7; i++) { %>
                <div class="col-sm-3">
                  <input type="checkbox" value="<%= i %>" v-model="goal.day_of_weeks">
                  <%= dayOfWeekName(i) %>
                </div>
                <% } %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="thumb">Thumb:</label>
                  <image-uploader class-button-upload="btn-secondary" v-model="goal.thumb" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="thumb">Thumb Url:</label>
                  <input type="text" v-model="goal.thumb" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <vue-editor name="description" v-model="goal.description">
              </vue-editor>
            </div>
            <div class="form-group">
              <label for="status">Status:</label>
              <select class="form-control" v-model="goal.status">
                <option value="0">Unpublish</option>
                <option value="1">Publish</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>