<div id="mod-goal">
    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="goal">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Goals</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <% goals.forEach(function(goal, index){ %>
                <div class="col-md-6 col-lg-4">
                    <a class="goal-item d-block mx-auto"
                        href="/goals/<%= goal._id %>.pngoal"
                        title="<%= goal.name %>">
                        <div class="portfolio-img">
                            <img class="img-fluid sub-img" src="assets/img/blog-default.jpg">
                            <img class="img-fluid main-img" src="<%= goal.thumb || 'assets/img/blog-default.jpg' %>" alt="<%= goal.name %>">
                        </div>
                        <div class="goal-title">
                            <h5><%= goal.name %></h5>
                            <div class="text-right">
                                <em><%= formatDate(goal.createdAt) %></em>
                            </div>
                        </div>
                    </a>
                </div>
                <% }) %>
            </div>
        </div>
    </section>
</div>
