<div id="mod-goal"></div>
<div id="mod-goal-show">
    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="goal">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">
                <%= goal.name %>
            </h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-sm-10 col-xs-12" style="margin: 0 auto;">
                    <div class="goal-button">
                        <div>
                            <a href="/goals" title="Back" class="btn btn-info btn-sm"><i class="fa fa-arrow-left"></i>
                                Back</a>
                            <% if (allowAdmin) { %>
                            <a href="/goals/edit/<%= goal._id %>" title="Edit" class="btn btn-info btn-sm"><i
                                    class="fa fa-edit"></i>
                                Edit</a>
                            <a href="/goals/delete/<%= goal._id %>" title="Delete" class="btn btn-info btn-sm"><i
                                    class="fa fa-trash"></i>
                                Delete</a>
                            <% } %>
                        </div>
                        <i>From <%= formatDate(goal.start_date, 'DD/MM/YYYY') %> to
                            <%= formatDate(goal.end_date, 'DD/MM/YYYY') %></i>
                    </div>
                    <hr />
                    <div class="goal-content">
                        <%- goal.description %>
                    </div>
                    <% if(activities && activities.length) { %>
                    <div id="mod-form-activity">
                        <hr />
                        <strong>Complete Percent:</strong> <%= completedPercent %>%
                        <br>
                        <br>
                        <div class="row">
                            <% activities.forEach(function(activity) { %>
                            <div class="col-sm-3">
                                <%- include('./_activity.html', {activity: activity}) %>
                            </div>
                            <% }) %>
                        </div>
                        <%- include('./_form_activity.html') %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</div>