/* PAGING */

.t-pager {
    margin: 10px;
    a,
    span {
        display: inline-block;
        padding: 4px 10px;
        border: 1px solid #ccc;
        border-left: none;
        text-decoration: none;
        color: $body-color;
        cursor: pointer;
        &:first-child {
            border-left: 1px solid #ccc;
        }
        &.active {
            color: $link-color;
            font-weight: 700;
            cursor: default;
        }
        &.dot {
            cursor: default;
        }
    }
    a {
        &:first-child {
            border-radius: 2px 0 0 2px;
        }
        &:last-child {
            border-radius: 0 2px 2px 0;
        }
    }
}