#homeSlider {
  margin-top: 50px; }

.logo {
  position: absolute;
  top: 0;
  width: 80px;
  height: auto;
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 3px 3px #999; }

footer {
  padding: 10px 0;
  background-color: #333;
  color: #fff; }
  footer p {
    margin: 0;
    padding: 0; }
  footer .copyright {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #fff; }
  footer .admin {
    font-size: 10px; }
  @media only screen and (max-width: 767px) {
    footer .copyright {
      position: static; } }

.is-loading {
  display: none; }

#mod-home .product-item {
  color: #555;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  display: block; }
  #mod-home .product-item .product-item-wrapper {
    overflow: hidden; }
    #mod-home .product-item .product-item-wrapper .product-item-image {
      transition: all .3s linear;
      height: 100%;
      background-color: #eee; }
      #mod-home .product-item .product-item-wrapper .product-item-image img {
        display: block;
        opacity: 0;
        width: 100%;
        height: auto; }
      #mod-home .product-item .product-item-wrapper .product-item-image:hover {
        transform: scale(1.25);
        transition: all .3s linear;
        opacity: 0.8; }
  #mod-home .product-item:hover {
    text-decoration: none; }
    #mod-home .product-item:hover .product-name {
      color: #7db501; }
  #mod-home .product-item .product-name {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 16px; }

#mod-home .section-title {
  text-transform: uppercase; }

.form-error {
  color: red; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 9999; }

.form-group {
  margin-bottom: 10px; }

.spacing-20 {
  padding: 10px 0; }

@media only screen and (max-width: 767px) {
  .text-center-mobile {
    text-align: center; } }

.product-info-title {
  font-size: 20px;
  font-weight: 600;
  background-color: #419641;
  color: #fff;
  padding: 10px 15px; }

.product-info {
  padding: 20px;
  border: 1px solid #eee; }

.tip {
  font-size: 10px;
  color: red;
  font-style: italic; }

.edit-product-image {
  max-height: 100px;
  display: block; }

@media only screen and (max-width: 414px) {
  #mod-home .col-xs-6 {
    width: 100%; } }
