#goal {
  padding-top: 10rem;
  .goal-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px 0 #ddd;
  }
  .goal-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: #000, $alpha: 0.8);
    padding: 0.5em;
    transition: ease-in-out .2s;
    em {
      font-size: 0.6em;
      color: #eee;
    }
    h5 {
      color: #18BC9C;
      font-size: 1em;
    }
  }
  .portfolio-img .main-img {
    max-width: unset;
    width: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: ease-in-out .2s;
  }
  .goal-item:hover {
    .portfolio-img .main-img {
      width: 120%;
      transition: ease-in-out .2s;
    }
  }
}

#mod-goal-show {
  .goal-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .goal-content img {
    max-width: 100%;
    height: auto;
  }
  .activity {
    background-color: #aaa;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-size: .9em;
    cursor: pointer;
    opacity: .9;
    transition: .1s linear;
    &:hover {
      opacity: 1;
      box-shadow: 0 0 10px 0 #555;
      transition: .1s linear;
    }
    i.fa {
      display: none;
      font-size: 1.8em;
    }
    &.future {
      .fa-meh {
        display: inline;
      }
      .message::before {
        content: 'Try up!'
      }
    }
    &.today {
      background-color: #17a2b8;
      .fa-smile {
        display: inline;
      }
      .message::before {
        content: 'Do it now!'
      }
    }
    &.past {
      background-color: #dc3545;
      .fa-sad-tear {
        display: inline;
      }
      .message::before {
        content: 'So sad!'
      }
    }
    &.past.reached {
      background-color: #28a745;
      .fa-sad-tear {
        display: none;
      }
      .fa-grin-stars {
        display: inline;
      }
      .message::before {
        content: 'Greate!'
      }
    }
  }
}