.search-form.active {
  overflow: hidden;
  box-shadow: 0px -1px 0px 0px #eceef2 inset;
  .search-input {
    outline: none;
    background-color: #f9f9f9;
    border: 1px solid #eceef2;
    border-bottom: none;
  }
}
.nav-btns {
  button {
    outline: none;
  }
  .search-form {
    padding: 0;
  }
  .search-form.active {
    padding: 0;
  }
  .search-form .search-input {
    height: calc(100% - 1px);
    padding: 0 50px 0 25px;
  }
  @media only screen and (min-width: 768px) {
    .aside-btn {
      display: none;
    }
  }
}
#nav-aside {
  .nav-menu {
    display: none;
  }
  @media only screen and (max-width: 991px) {
    .nav-menu {
      display: block;
      float: unset;
      margin: 0 0 1em 0;
      li {
        display: block;
        float: unset;
        a {
          border: none;
          box-shadow: none;
          padding: 0.7em;
          &:after {
            width: 4px;
            height: 100%;
          }
        }
      }
    }
  }
}
.search-form {
  height: 0;
  transition: 0.15s ease-in;
  &.active {
    height: 100%;
  }
  .search-close {
    right: 40px !important;
  }
}
.nav-aside-logo {
  margin-bottom: 2em;
  img {
    max-width: 200px;
    height: auto;
    margin-top: 0.5em;
  }
}
.sticky-container {
  padding-left: 0;
}
.tags-widget {
  ul > li > a {
    color: #000;
    background: #fff;
    font-weight: normal;
    border: 1px solid #000;

    &:hover,
    &:focus,
    &:active {
      color: #000;
    }
  }
}
a.logo .logo-text {
  font-size: 25px;
  line-height: 25px;
  margin: 22px 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.footer-logo {
  a.logo .logo-text {
    margin: 0;
  }
}
.main-post {
  word-break: break-word;
  a {
    font-weight: normal;
  }
  blockquote {
    background-color: #f1f1f1;
  }
}
body {
  color: #111;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
p {
  margin: 0px 0px 0.7em;
}
#nav-fixed {
  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    overflow: hidden;

    &::before,
    &::after {
      content: unset;
    }
  }
  .nav-btns {
    white-space: nowrap;
  }
  .nav-menu {
    overflow: hidden;
    width: 100%;
  }
  @media only screen and (max-width: 991px) {
    .nav-menu {
      display: block;
    }
  }
  @media only screen and (max-width: 767px) {
    .nav-menu {
      display: none;
    }
  }
}
