<% var accessibles; %>
<title>CMS</title>
<meta name="title" content="<%= meta.title %>">
<meta name="description" content="<%= meta.description %>">
<meta property="og:image" content="<%= meta.shareImage %>" />
<meta charset="utf-8">
<link type="image/x-icon" href="/assets/images/favicon.ico" rel="icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<script type="text/javascript">
  var settings = <%- JSON.stringify(settings) %>;
  var user = <%- JSON.stringify(credentials) %>;
  var cookieKey = '<%= cookieKey %>';
  var cmsprefix = '<%= cmsprefix %>';
  var accessibles = <%- JSON.stringify(accessibles) %>;
</script>
<base href="<%= settings.services.webUrl %>" />
<% assets.cmsCss.map(function(cssUrl) { %>
<link rel="stylesheet" href="<%= cssUrl %>" />
<% }) %>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->