#mod-home {
    .product-item {
        color: #555;
        margin-bottom: 20px;
        border: 1px solid #eee;
        border-radius: 5px;
        overflow: hidden;
        display: block;
        .product-item-wrapper {
            overflow: hidden;
            .product-item-image {
                transition: all .3s linear;
                height: 100%;
                background-color: #eee;
                img {
                    display: block;
                    opacity: 0;
                    width: 100%;
                    height: auto;
                }
                &:hover {
                    transform: scale(1.25);
                    transition: all .3s linear;
                    opacity: 0.8;
                    // background-size: 125% !important;
                }
            }
        }
        &:hover {
            text-decoration: none;
            .product-name {
                color: #7db501;
            }
        }
        .product-name {
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 16px;
        }
    }
    .section-title {
        text-transform: uppercase;
    }
}

.form-error {
    color: red;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 9999;
}

.form-group {
    margin-bottom: 10px;
}

// .btn {
//     margin-bottom: 10px;
// }
.spacing-20 {
    padding: 10px 0;
}

@media only screen and (max-width: 767px) {
    .text-center-mobile {
        text-align: center;
    }
}

.product-info-title {
    font-size: 20px;
    font-weight: 600;
    background-color: #419641;
    color: #fff;
    padding: 10px 15px;
}

.product-info {
    padding: 20px;
    border: 1px solid #eee;
}

.tip {
    font-size: 10px;
    color: red;
    font-style: italic;
}