<div id="mod-detail" ng-controller="HomeController as home" ng-init="home.detailProduct('{{slug}}')">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-thumbnail" src="/files/products/{[home.productDetail._id]}/{[home.productDetail.image]}" alt="Hình sản phẩm">
                </div>
                <div class="col-sm-6 text-center-mobile">
                    <h2>{[home.productDetail.title]}</h2>
                    <div ng-bind-html="home.productDetail.intro"></div>
                    <h2 class="text-success">{[home.productDetail.price | vndCurrency]}</h2>
                    <hr>
                    <button type="button" class="btn btn-info" ng-click="home.changeOrderCount(true)">+</button>
                    <button type="button" class="btn btn-default" disabled><strong>{[home.orderCount]}</strong></button>
                    <button type="button" class="btn btn-info" ng-click="home.changeOrderCount(false)">-</button>
                    <button type="button" class="btn btn-success" ng-click="home.openOrder()">Đặt hàng</button>
                    <hr>
                    <span>
                    Miễn phí vận chuyển khu vực Nha Trang, các khu vực khác phụ thu phí vận chuyển 30.000đ
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="spacing-20"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="product-info-title">Thông tin</div>
            <div class="product-info" ng-bind-html="home.productDetail.description"></div>
        </div>
    </div>
    <div class='mfp mfp-hide panel panel-default' id='order-form'>
        <div class='panel-heading text-center'>
            Đặt hàng
        </div>
        <div class='panel-body'>
            <form id='orderForm' name='orderForm' novalidate=''>
                <!--<div class='form-group'>
                    <label for='product_name'>Tên sản phẩm</label>
                    <input class='form-control' disabled='' id='product_name' name='product_name' ng-model='home.order.product_name' type='text' />
                </div>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-xs-6'>
                            <label for='order_count'>Số lượng</label>
                            <input class='form-control' disabled='' id='order_count' name='order_count' ng-model='home.orderCount' type='text' />
                        </div>
                        <div class='col-xs-6'>
                            <label for='product_price'>Giá bán</label>
                            <input class='form-control' disabled='' id='product_price' name='product_price' ng-model='home.order.product_price' type='text' />
                        </div>
                    </div>
                </div>-->
                <div class="form-group">
                    <h4>{[home.order.product_name]}</h4>
                    <h5>Số lượng: <span class="text-danger">{[home.orderCount]}</span> - Giá: <span class="text-danger">{[home.order.product_price | vndCurrency]}</span></h5>
                </div>
                <div class='form-group'>
                    <label for='user_name'>Họ tên <span style='color: red'>*</span></label>
                    <input class='form-control' id='user_name' name='user_name' ng-model='home.order.user_name' placeholder='Họ tên người mua' required='' type='text' />
                    <div class='form-error' ng-if='home.submitted && orderForm.user_name.$error.required'>
                        Không được để trống họ tên
                    </div>
                </div>
                <div class='form-group'>
                    <label for='user_phone'>Số điện thoại <span style='color: red'>*</span></label>
                    <input class='form-control' id='user_phone' name='user_phone' ng-model='home.order.user_phone' ng-pattern='/^(01[2689]|09)[0-9]{8}$/' placeholder='Số điện thoại người mua' required='' type='text' />
                    <div class='form-error' ng-if='home.submitted && orderForm.user_phone.$error.required'>
                        Không được để trống số điện thoại
                    </div>
                    <div class='form-error' ng-if='home.submitted && orderForm.user_phone.$error.pattern'>
                        Vui lòng nhập số điện thoại hợp lệ
                    </div>
                </div>
                <div class='form-group'>
                    <label for='user_address'>Địa chỉ giao hàng <span style='color: red'>*</span></label>
                    <textarea class='form-control' id='user_address' name='user_address' ng-model='home.order.user_address' rows='2'></textarea>
                    <div class='form-error' ng-if='home.submitted && !home.order.user_address'>
                        Không được để trống địa chỉ
                    </div>
                </div>
                <div class='form-group'>
                    <label for='user_email'>Email</label>
                    <input class='form-control' id='user_email' name='user_email' ng-model='home.order.user_email' placeholder='Email người mua' type='email' />
                </div>
                <div class='form-group'>
                    <label for='user_note'>Ghi chú</label>
                    <textarea class='form-control' id='user_note' name='user_note' ng-model='home.order.user_note' rows='2'></textarea>
                </div>
            </form>
            <div class='form-group'>
                <button class='btn btn-success btn-lg pull-right' ng-click='home.confirmOrder(orderForm.$valid)'>Xác nhận đặt hàng</button>
            </div>
        </div>
    </div>
    <div class="loading" ng-if="home.submitting"></div>
</div>