<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid col-md-10 col-md-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/" title="Trang chủ">
                <img class="logo" src="/assets/img/pizu-logo.png" alt="Pizu">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/">Trang chủ</a>
                </li>
            </ul>-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/gio-hang">Giỏ hàng</a>
                </li>
                <!--credentials-->
                {{#if credentials.id}}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{{credentials.email}}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-if="userCtrl.accountInfo.isAdmin">
                            <a href="/portal/product">Quản lý sản phẩm</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" ng-click="userCtrl.logout()">Đăng xuất</a>
                        </li>
                    </ul>
                </li>
                {{/if}}
                <!--end-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>